<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Rad Texture Viewer" Language="1033" Version="1.0.0.0" Manufacturer="Nemu" UpgradeCode="facff73f-8a69-4bb8-9637-b46c7b1d9434">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Rad Texture Viewer" Level="1">
      <ComponentGroupRef Id="RadTextureViewer_Project" />
    </Feature>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
        <Directory Id="PROGRAMSFOLDER" Name="Programs">
          <Directory Id="INSTALLFOLDER" Name="RadTextureViewer" />
        </Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder"/>
		</Directory>
	</Fragment>
</Wix>
